In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.image as mpimg
sns.set(style = "ticks")
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("final_0902.csv")

### Importing the dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2433 entries, 0 to 2432
Data columns (total 59 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Control                                   2433 non-null   object
 1   State                                     2433 non-null   object
 2   Plan                                      2433 non-null   object
 3   2018 Fall Enrollment                      2433 non-null   float64
 4   Known_Cases_in_County_per_100k_Residents  2433 non-null   int64
 5   lat                                       2433 non-null   float64
 6   lng                                       2433 non-null   float64
 7   institution                               2433 non-null   object
 8   Address                                   2433 non-null   object
 9   Campus_Size                               2433 non-null   object
 10  Housing                                   2433 non-null   object
 11  Total_All_Undergrad_Grant/Scholarship     2433 non-null   float64
 12  AVG_All_Undergrad_Grant/Scholarship       2433 non-null   float64
 13  Total_Federal_Student_Loans               2433 non-null   object
 14  AVG_Dederal_Student_Loans_Amount          2431 non-null   object
 15  undergraduate_population                  2433 non-null   int64
 16  graduate_population                       2433 non-null   int64
 17  total_number_faculty                      2433 non-null   int64
 18  college_year                              2433 non-null   object
 19  zipcode                                   2433 non-null   int64
 20  city                                      2433 non-null   object
 21  county                                    2433 non-null   object
 22  Tuition_out_state_undergraduate           2433 non-null   float64
 23  Tuition_in_state_undergraduate            2433 non-null   float64
 24  Tuition_In_state_graduate                 2433 non-null   int64
 25  Tuition_Out_State_Graduate                2433 non-null   int64
 26  Tuition_fee_graduate_In_State             2433 non-null   int64
 27  Tuition_fee_graduate_Out_State            2433 non-null   int64
 28  Average_Tuition                           2433 non-null   float64
 29  Average_Expense                           2433 non-null   float64
 30  AVG_Tuition-Grad-2019-2020                777 non-null    float64
 31  AVG_Fee-Grad-2019-2020                    777 non-null    float64
 32  per_dem                                   2433 non-null   float64
 33  per_gop                                   2433 non-null   float64
 34  pi_2014                                   2433 non-null   float64
 35  pi_2015                                   2433 non-null   float64
 36  pi_2016                                   2433 non-null   float64
 37  pi_2017                                   2433 non-null   float64
 38  pi_2018                                   2433 non-null   float64
 39  gdp_2014                                  2433 non-null   float64
 40  gdp_2015                                  2433 non-null   float64
 41  gdp_2016                                  2433 non-null   float64
 42  gdp_2017                                  2433 non-null   float64
 43  gdp_2018                                  2433 non-null   float64
 44  state                                     2433 non-null   object
 45  cases_mar                                 2433 non-null   int64
 46  cases_apr                                 2433 non-null   int64
 47  cases_may                                 2433 non-null   int64
 48  cases_june                                2433 non-null   int64
 49  cases_july                                2433 non-null   int64
 50  death_mar                                 2433 non-null   int64
 51  death_apr                                 2433 non-null   int64
 52  death_may                                 2433 non-null   int64
 53  death_june                                2433 non-null   int64
 54  death_july                                2433 non-null   int64
 55  Total_Cases                               2433 non-null   object
 56  Perecent_of_State_Cases                   2433 non-null   object
 57  Cases_per_100000                          2433 non-null   object
 58  Total_Deaths                              2433 non-null   object
dtypes: float64(23), int64(19), object(17)
memory usage: 1.1+ MB

### Handling Object Columns

Looks like we have a few columns that are supposed to be Numeric but coded as Object. Let's see what they are

In [4]:
df.select_dtypes(include = "object").columns

Index(['Control', 'State', 'Plan', 'institution', 'Address', 'Campus_Size',
       'Housing', 'Total_Federal_Student_Loans',
       'AVG_Dederal_Student_Loans_Amount', 'college_year', 'city', 'county',
       'state', 'Total_Cases', 'Perecent_of_State_Cases', 'Cases_per_100000',
       'Total_Deaths'],
      dtype='object')

It seems that "Total_Federal_Student_Loans", "AVG_Dederal_Student_Loans_Amount", "Total_Cases", "Percent_of_State_Cases", "Cases_per_100000" and "Total_Deaths" are numerical variable. Let's figure out what makes them non-numeric to convert

In [5]:
df[df["Total_Federal_Student_Loans"]=="(*)"]

,Control,State,Plan,2018 Fall Enrollment,Known_Cases_in_County_per_100k_Residents,lat,lng,institution,Address,Campus_Size,Housing,Total_All_Undergrad_Grant/Scholarship,AVG_All_Undergrad_Grant/Scholarship,Total_Federal_Student_Loans,AVG_Dederal_Student_Loans_Amount,undergraduate_population,graduate_population,total_number_faculty,college_year,zipcode,city,county,Tuition_out_state_undergraduate,Tuition_in_state_undergraduate,Tuition_In_state_graduate,Tuition_Out_State_Graduate,Tuition_fee_graduate_In_State,Tuition_fee_graduate_Out_State,Average_Tuition,Average_Expense,AVG_Tuition-Grad-2019-2020,AVG_Fee-Grad-2019-2020,per_dem,per_gop,pi_2014,pi_2015,pi_2016,pi_2017,pi_2018,gdp_2014,gdp_2015,gdp_2016,gdp_2017,gdp_2018,state,cases_mar,cases_apr,cases_may,cases_june,cases_july,death_mar,death_apr,death_may,death_june,death_july,Total_Cases,Perecent_of_State_Cases,Cases_per_100000,Total_Deaths
1667,Private,AL,TBD,78.0,1146,34.856138,-87.662975,Heritage Christian University,"3625 Helton Dr, Florence, Alabama 35630-9977",City: Small,Yes,401144.0,8187.0,(*),(*),59,27,4,4,35630,Florence,Lauderdale,0.0,0.0,0,0,0,0,10947.0,19844.25,4482.0,630.0,0.254477,0.714580,34109.0,35009.0,35202.0,35573.0,37151.0,2479646.0,2445200.0,2402567.0,2395624.0,2467086.0,AL,12,38,161,412,996,1,2,2,5,10,1135,1.2%,"1,224",<20
1813,Public,CA,Primarily online,2404.0,341,38.926983,-119.972798,Lake Tahoe Community College,"One College Drive, South Lake Tahoe, Californi...",Rural: Fringe,Yes,2562244.0,1921.0,(*),(*),2577,0,179,2,96150,South Lake Tahoe,El Dorado,7600.5,1224.0,0,0,0,0,0.0,19998.00,NaN,NaN,0.394977,0.533835,57220.0,60087.0,62864.0,64519.0,67464.0,6417640.0,6601749.0,7043191.0,7419868.0,7653908.0,CA,15,44,90,184,613,0,0,0,0,1,716,0.1%,371,<20

Looks like the numeric values in the column were recorded as string and there are rows with (*) for schools that does not have federal student loans causing the column to be coded as Object. Let's fix it.

In [6]:
df["Total_Federal_Student_Loans"]=df["Total_Federal_Student_Loans"].str.strip()
df["Total_Federal_Student_Loans"].replace("(*)",0,inplace = True)
df["Total_Federal_Student_Loans"]= df["Total_Federal_Student_Loans"].astype("float")

"AVG_Dederal_Student_Loans_Amount" has the same issue. Let's fix it

In [7]:
df.rename(columns = {"AVG_Dederal_Student_Loans_Amount":"AVG_Federal_Student_Loans_Amount"},inplace=True)
df["AVG_Federal_Student_Loans_Amount"].fillna("0",inplace = True)
df["AVG_Federal_Student_Loans_Amount"]=df["AVG_Federal_Student_Loans_Amount"].str.strip()
df["AVG_Federal_Student_Loans_Amount"].replace(["(*)","_"],0,inplace = True)
df["AVG_Federal_Student_Loans_Amount"]= df["AVG_Federal_Student_Loans_Amount"].astype("float")

The four columns related to Covid19 from the CDC "Total_Cases", "Percent_of_State_Cases", "Cases_per_100000", "Total_Deaths" contain value such as <20, not calculated. Let's fix them

In [8]:
df["Total_Cases"] = df["Total_Cases"].apply(lambda x: "19" if x == "<20" else x).astype("float")
df.rename(columns = {'Perecent_of_State_Cases':'Percent_of_State_Cases'},inplace = True)
df["Percent_of_State_Cases"] =df["Percent_of_State_Cases"].apply(lambda x: "0" if x=="Not Calculated" else x).str.replace("%","").astype("float")
df["Cases_per_100000"] =df["Cases_per_100000"].apply(lambda x: "0" if x=="Not Calculated" else x).str.replace(",","").astype("float")
df["Total_Deaths"] = df["Total_Deaths"].apply(lambda x: "19" if x == "<20" else x).str.replace(",","").astype("float")

Now we have all of the columns wrongly coded as object recoded to numeric. Let's inpsect the rest of the "Object" type columns

In [9]:
df.select_dtypes(include = "object").columns

Index(['Control', 'State', 'Plan', 'institution', 'Address', 'Campus_Size',
       'Housing', 'college_year', 'city', 'county', 'state'],
      dtype='object')

In [10]:
df["Control"].unique()

array(['Public', 'Private'], dtype=object)

In [11]:
df["Plan"].unique()

array(['TBD', 'Primarily in person', 'Hybrid', 'Primarily online',
       'Other', 'Fully online', 'Fully in person'], dtype=object)

We can see that schools' Fall reopening plan fall into 4 main categories such as: In-person(Primarily in person, Fully in person), Hybird, Online (Primarily online,"Fully online") and Others(Other, TBD). Let's remap the plan into the main cateogies so we can easily see the trend of school's decision

In [12]:
df["Plan"] = df.Plan.map({"Primarily in person":"In-person",
                               "Fully in person":"In-person",
                               "Hybrid":"Hybrid",
                               "Primarily online":"Online",
                               "Fully online":"Online",
                               "Other":"Other",
                               "TBD":"TBD"})

In [15]:
df.Plan.unique()

array(['TBD', 'In-person', 'Hybrid', 'Online', 'Other'], dtype=object)

In [16]:
df.Campus_Size.unique()

array(['Rural: Remote', 'City: Midsize', 'Town: Distant', 'Suburb: Large',
       'City: Small', 'Town: Remote', 'City: Large', 'Rural: Fringe',
       'Suburb: Midsize', 'Town: Fringe', 'Suburb: Small',
       'Rural: Distant'], dtype=object)

Looks like Campus Size column can be splitted to two variables. Let's create variable Campus_Location and Campus_Size to better represent this data

In [17]:
df["Campus_Location"]= df.Campus_Size.str.split(":").apply(lambda x: x[0])
df["Campus_Size"]= df.Campus_Size.str.split(":").apply(lambda x: x[1]).str.strip()
df["Campus_Size"].unique()

array(['Remote', 'Midsize', 'Distant', 'Large', 'Small', 'Fringe'],
      dtype=object)

In [18]:
df["Campus_Location"].unique()

array(['Rural', 'City', 'Town', 'Suburb'], dtype=object)

In [19]:
df.select_dtypes(include = "object").columns

Index(['Control', 'State', 'Plan', 'institution', 'Address', 'Campus_Size',
       'Housing', 'college_year', 'city', 'county', 'state',
       'Campus_Location'],
      dtype='object')

In [171]:
df["college_year"].unique()

array(['2', '4', '<2'], dtype=object)

In [20]:
df["college_year"].replace("<2","2",inplace = True)

### Handling Numeric Columns

We have year to year gdp, personal income data in the dataset. Let's combine the year to year into one single column for each variable by calculating the average percentage change.

In [173]:
df["pct_change_2014_2015_gdp"] = (df["gdp_2015"]-df["gdp_2014"])/df["gdp_2014"]
df["pct_change_2015_2016_gdp"] = (df["gdp_2016"]-df["gdp_2015"])/df["gdp_2015"]
df["pct_change_2016_2017_gdp"] = (df["gdp_2017"]-df["gdp_2016"])/df["gdp_2016"]
df["pct_change_2017_2018_gdp"] = (df["gdp_2018"]-df["gdp_2017"])/df["gdp_2017"]
df["pct_change_gdp_avg"] = (df["pct_change_2014_2015_gdp"]+df["pct_change_2015_2016_gdp"]+df["pct_change_2016_2017_gdp"]+df["pct_change_2017_2018_gdp"])/4

df["pct_change_2014_2015_income"] = (df["pi_2015"]-df["pi_2014"])/df["pi_2014"]
df["pct_change_2015_2016_income"] = (df["pi_2016"]-df["pi_2015"])/df["pi_2015"]
df["pct_change_2016_2017_income"] = (df["pi_2017"]-df["pi_2016"])/df["pi_2016"]
df["pct_change_2017_2018_income"] = (df["pi_2018"]-df["pi_2017"])/df["pi_2017"]
df["pct_change_income_avg"] = (df["pct_change_2014_2015_income"] +df["pct_change_2015_2016_income"]+df["pct_change_2016_2017_income"]+df["pct_change_2017_2018_income"])/4

Inspecting Missing Value

In [174]:
df.isnull().sum().sort_values(ascending= False).head()

AVG_Fee-Grad-2019-2020        1656
AVG_Tuition-Grad-2019-2020    1656
pct_change_income_avg            0
Tuition_In_state_graduate        0
zipcode                          0
dtype: int64

In [175]:
df[df["AVG_Fee-Grad-2019-2020"].isnull()].head()

,Control,State,Plan,2018 Fall Enrollment,Known_Cases_in_County_per_100k_Residents,lat,lng,institution,Address,Campus_Size,Housing,Total_All_Undergrad_Grant/Scholarship,AVG_All_Undergrad_Grant/Scholarship,Total_Federal_Student_Loans,AVG_Federal_Student_Loans_Amount,undergraduate_population,graduate_population,total_number_faculty,college_year,zipcode,city,county,Tuition_out_state_undergraduate,Tuition_in_state_undergraduate,Tuition_In_state_graduate,Tuition_Out_State_Graduate,Tuition_fee_graduate_In_State,Tuition_fee_graduate_Out_State,Average_Tuition,Average_Expense,AVG_Tuition-Grad-2019-2020,AVG_Fee-Grad-2019-2020,per_dem,per_gop,pi_2014,pi_2015,pi_2016,pi_2017,pi_2018,gdp_2014,gdp_2015,gdp_2016,gdp_2017,gdp_2018,state,cases_mar,cases_apr,cases_may,cases_june,cases_july,death_mar,death_apr,death_may,death_june,death_july,Total_Cases,Percent_of_State_Cases,Cases_per_100000,Total_Deaths,Plan_type,Campus_Location,pct_change_2014_2015_gdp,pct_change_2015_2016_gdp,pct_change_2016_2017_gdp,pct_change_2017_2018_gdp,pct_change_gdp_avg,pct_change_2014_2015_income,pct_change_2015_2016_income,pct_change_2016_2017_income,pct_change_2017_2018_income,pct_change_income_avg
0,Public,MT,TBD,150.0,134,48.483856,-108.757664,Aaniiih Nakoda College,"269 Blackfeet Avenue Agency, Harlem, Montana 5...",Remote,No,819301.0,8716.0,0.0,0.0,131,0,23,2,59526,Harlem,Blaine,0.00,0.0,0,0,0,0,2410.0,17030.0,NaN,NaN,0.452881,0.480351,29084.0,29650.0,28958.0,29329.0,31263.0,211962.0,205467.0,181000.0,164944.0,197201.0,MT,0,0,0,0,7,0,0,0,0,0,19.0,0.0,0.0,0.0,Not In-Class,Rural,-0.030642,-0.119080,-0.088707,0.195563,-0.010717,0.019461,-0.023339,0.012812,0.065942,0.018719
4,Public,GA,Online,4291.0,3076,31.483076,-83.530194,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",Distant,Yes,16222202.0,4953.0,8519194.0,5679.0,3927,0,201,4,31793,Tifton,Tift,10253.25,3506.0,0,0,0,0,0.0,15242.5,NaN,NaN,0.304158,0.678337,33648.0,36633.0,35361.0,36148.0,37805.0,1631881.0,1803154.0,1641382.0,1671954.0,1722446.0,GA,19,118,256,750,1208,0,5,17,26,34,1297.0,0.6,3191.0,35.0,Not In-Class,Town,0.104954,-0.089716,0.018626,0.030199,0.016016,0.088713,-0.034723,0.022256,0.045839,0.030521
5,Private,FL,Other,466.0,2367,26.706423,-80.121485,Academy for Nursing and Health Occupations,"5154 Okeechobee Blvd Ste 201, West Palm Beach,...",Large,No,1577912.0,6440.0,3156855.0,12189.0,552,0,26,2,33417,West Palm Beach,Palm Beach,0.00,0.0,0,0,0,0,38150.0,91262.5,NaN,NaN,0.565111,0.411971,66126.0,70213.0,70241.0,75183.0,79760.0,62416939.0,65902060.0,67751333.0,70558459.0,72270528.0,FL,462,2961,5896,14148,32694,10,186,337,510,806,35737.0,7.0,2388.0,892.0,Not In-Class,Suburb,0.055836,0.028061,0.041433,0.024265,0.037399,0.061806,0.000399,0.070358,0.060878,0.048360
6,Public,FL,Online,29772.0,2367,26.374988,-80.101063,Florida Atlantic University,"777 Glades Rd, Administration Bldg., Room 339,...",Small,Yes,131759569.0,9031.0,50902616.0,6453.0,24740,5321,1484,4,33431,Boca Raton,Palm Beach,17288.00,4843.0,5467,16695,1226,1226,0.0,23924.5,NaN,NaN,0.565111,0.411971,66126.0,70213.0,70241.0,75183.0,79760.0,62416939.0,65902060.0,67751333.0,70558459.0,72270528.0,FL,462,2961,5896,14148,32694,10,186,337,510,806,35737.0,7.0,2388.0,892.0,Not In-Class,City,0.055836,0.028061,0.041433,0.024265,0.037399,0.061806,0.000399,0.070358,0.060878,0.048360
9,Public,FL,Online,31816.0,2367,26.840894,-80.079251,Palm Beach State College,"4200 Congress Ave, Lake Worth, Florida 33461-4796",Large,No,62084169.0,4463.0,10901708.0,4405.0,31289,0,1252,4,33461,Lake Worth,Palm Beach,8732.00,2444.0,0,0,0,0,0.0,18464.0,NaN,NaN,0.565111,0.411971,66126.0,70213.0,70241.0,75183.0,79760.0,62416939.0,65902060.0,67751333.0,70558459.0,72270528.0,FL,462,2961,5896,14148,32694,10,186,337,510,806,35737.0,7.0,2388.0,892.0,Not In-Class,Suburb,0.055836,0.028061,0.041433,0.024265,0.037399,0.061806,0.000399,0.070358,0.060878,0.048360

In [176]:
df.isnull().sum().sort_values(ascending= False).head()

AVG_Fee-Grad-2019-2020        1656
AVG_Tuition-Grad-2019-2020    1656
pct_change_income_avg            0
Tuition_In_state_graduate        0
zipcode                          0
dtype: int64

Since our dataset contains many schools that do not offer graduate program, filling missing value or delete these schools does not make sense. Therefore, we wont be using Graduate Program Expenses as variable for our model

In [177]:
df.drop(["AVG_Fee-Grad-2019-2020","AVG_Tuition-Grad-2019-2020"],axis = 1,inplace = True)

In [178]:
df.isnull().sum().sort_values(ascending= False).head()

pct_change_income_avg        0
Tuition_In_state_graduate    0
college_year                 0
zipcode                      0
city                         0
dtype: int64

In [179]:
df.drop_duplicates(subset = ("institution"),keep=False,inplace = True)
df[df.duplicated(keep = False)]

Empty DataFrame
Columns: [Control, State, Plan, 2018 Fall Enrollment, Known_Cases_in_County_per_100k_Residents, lat, lng, institution, Address, Campus_Size, Housing, Total_All_Undergrad_Grant/Scholarship, AVG_All_Undergrad_Grant/Scholarship, Total_Federal_Student_Loans, AVG_Federal_Student_Loans_Amount, undergraduate_population, graduate_population, total_number_faculty, college_year, zipcode, city, county, Tuition_out_state_undergraduate, Tuition_in_state_undergraduate, Tuition_In_state_graduate, Tuition_Out_State_Graduate, Tuition_fee_graduate_In_State, Tuition_fee_graduate_Out_State, Average_Tuition, Average_Expense, per_dem, per_gop, pi_2014, pi_2015, pi_2016, pi_2017, pi_2018, gdp_2014, gdp_2015, gdp_2016, gdp_2017, gdp_2018, state, cases_mar, cases_apr, cases_may, cases_june, cases_july, death_mar, death_apr, death_may, death_june, death_july, Total_Cases, Percent_of_State_Cases, Cases_per_100000, Total_Deaths, Plan_type, Campus_Location, pct_change_2014_2015_gdp, pct_change_2015_2016_gdp, pct_change_2016_2017_gdp, pct_change_2017_2018_gdp, pct_change_gdp_avg, pct_change_2014_2015_income, pct_change_2015_2016_income, pct_change_2016_2017_income, pct_change_2017_2018_income, pct_change_income_avg]
Index: []

In [180]:
public_drop = df[(df["Control"]=="Public") & (df["Tuition_out_state_undergraduate"]==0)][["institution","Control","Tuition_out_state_undergraduate","Tuition_in_state_undergraduate","Average_Tuition","Average_Expense"]].index
df.drop(index = public_drop,inplace = True)
df[(df["Control"]=="Public") & (df["Tuition_out_state_undergraduate"]==0)][["institution","Control","Tuition_out_state_undergraduate","Tuition_in_state_undergraduate","Average_Tuition","Average_Expense"]]

Empty DataFrame
Columns: [institution, Control, Tuition_out_state_undergraduate, Tuition_in_state_undergraduate, Average_Tuition, Average_Expense]
Index: []

In [181]:
private_drop = df[(df["Control"]=="Private") & (df["Average_Tuition"]==0)][["institution","Control","Tuition_out_state_undergraduate","Tuition_in_state_undergraduate","Average_Tuition","Average_Expense"]].index
df.drop(index = private_drop,inplace = True)
df[(df["Control"]=="Private") & (df["Average_Tuition"]==0)][["institution","Control","Tuition_out_state_undergraduate","Tuition_in_state_undergraduate","Average_Tuition","Average_Expense"]]

Empty DataFrame
Columns: [institution, Control, Tuition_out_state_undergraduate, Tuition_in_state_undergraduate, Average_Tuition, Average_Expense]
Index: []

In [182]:
df.reset_index(inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1947 entries, 0 to 1946
Data columns (total 70 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   index                                     1947 non-null   int64
 1   Control                                   1947 non-null   object
 2   State                                     1947 non-null   object
 3   Plan                                      1947 non-null   object
 4   2018 Fall Enrollment                      1947 non-null   float64
 5   Known_Cases_in_County_per_100k_Residents  1947 non-null   int64
 6   lat                                       1947 non-null   float64
 7   lng                                       1947 non-null   float64
 8   institution                               1947 non-null   object
 9   Address                                   1947 non-null   object
 10  Campus_Size                               1947 non-null   object
 11  Housing                                   1947 non-null   object
 12  Total_All_Undergrad_Grant/Scholarship     1947 non-null   float64
 13  AVG_All_Undergrad_Grant/Scholarship       1947 non-null   float64
 14  Total_Federal_Student_Loans               1947 non-null   float64
 15  AVG_Federal_Student_Loans_Amount          1947 non-null   float64
 16  undergraduate_population                  1947 non-null   int64
 17  graduate_population                       1947 non-null   int64
 18  total_number_faculty                      1947 non-null   int64
 19  college_year                              1947 non-null   object
 20  zipcode                                   1947 non-null   int64
 21  city                                      1947 non-null   object
 22  county                                    1947 non-null   object
 23  Tuition_out_state_undergraduate           1947 non-null   float64
 24  Tuition_in_state_undergraduate            1947 non-null   float64
 25  Tuition_In_state_graduate                 1947 non-null   int64
 26  Tuition_Out_State_Graduate                1947 non-null   int64
 27  Tuition_fee_graduate_In_State             1947 non-null   int64
 28  Tuition_fee_graduate_Out_State            1947 non-null   int64
 29  Average_Tuition                           1947 non-null   float64
 30  Average_Expense                           1947 non-null   float64
 31  per_dem                                   1947 non-null   float64
 32  per_gop                                   1947 non-null   float64
 33  pi_2014                                   1947 non-null   float64
 34  pi_2015                                   1947 non-null   float64
 35  pi_2016                                   1947 non-null   float64
 36  pi_2017                                   1947 non-null   float64
 37  pi_2018                                   1947 non-null   float64
 38  gdp_2014                                  1947 non-null   float64
 39  gdp_2015                                  1947 non-null   float64
 40  gdp_2016                                  1947 non-null   float64
 41  gdp_2017                                  1947 non-null   float64
 42  gdp_2018                                  1947 non-null   float64
 43  state                                     1947 non-null   object
 44  cases_mar                                 1947 non-null   int64
 45  cases_apr                                 1947 non-null   int64
 46  cases_may                                 1947 non-null   int64
 47  cases_june                                1947 non-null   int64
 48  cases_july                                1947 non-null   int64
 49  death_mar                                 1947 non-null   int64
 50  death_apr                                 1947 non-null   int64
 51  death_may                                 1947 non-null   int64
 52  death_june                                1947 non-null   int64
 53  death_july                                1947 non-null   int64
 54  Total_Cases                               1947 non-null   float64
 55  Percent_of_State_Cases                    1947 non-null   float64
 56  Cases_per_100000                          1947 non-null   float64
 57  Total_Deaths                              1947 non-null   float64
 58  Plan_type                                 1947 non-null   object
 59  Campus_Location                           1947 non-null   object
 60  pct_change_2014_2015_gdp                  1947 non-null   float64
 61  pct_change_2015_2016_gdp                  1947 non-null   float64
 62  pct_change_2016_2017_gdp                  1947 non-null   float64
 63  pct_change_2017_2018_gdp                  1947 non-null   float64
 64  pct_change_gdp_avg                        1947 non-null   float64
 65  pct_change_2014_2015_income               1947 non-null   float64
 66  pct_change_2015_2016_income               1947 non-null   float64
 67  pct_change_2016_2017_income               1947 non-null   float64
 68  pct_change_2017_2018_income               1947 non-null   float64
 69  pct_change_income_avg                     1947 non-null   float64
dtypes: float64(37), int64(20), object(13)
memory usage: 1.0+ MB

In [183]:
df.to_csv("final_0902_edited.csv")

In [153]:
df[(df["Control"]=="Public") & (df["Tuition_out_state_undergraduate"]==0)][["institution","Control","Tuition_out_state_undergraduate","Tuition_in_state_undergraduate","Average_Tuition","Average_Expense"]]

,institution,Control,Tuition_out_state_undergraduate,Tuition_in_state_undergraduate,Average_Tuition,Average_Expense
0,Aaniiih Nakoda College,Public,0.0,0.0,2410.00000,17030.00
12,New York Institute of Technology,Public,0.0,0.0,36482.50000,57596.25
65,Alcorn State University,Public,0.0,0.0,6952.00000,23762.00
67,Alexandria Technical and Community College,Public,0.0,0.0,5437.25000,18937.25
82,Allen County Community College,Public,0.0,0.0,3330.50000,13491.00
134,Hacienda La Puente Adult Education,Public,0.0,0.0,3324.00000,20575.00
261,Anoka Technical College,Public,0.0,0.0,5609.00000,21252.50
262,Anoka-Ramsey Community College,Public,0.0,0.0,5079.50000,20723.25
305,University of Arizona,Public,0.0,0.0,19338.75000,39583.75
311,University of Arkansas -Little Rock,Public,0.0,0.0,0.00000,23679.25
312,University of Arkansas -Little Rock,Public,0.0,0.0,0.00000,23679.25
313,University of Arkansas -Little Rock,Public,0.0,0.0,0.00000,23679.25
314,University of Arkansas -Little Rock,Public,0.0,0.0,0.00000,23679.25
315,University of Arkansas -Little Rock,Public,0.0,0.0,0.00000,23679.25
365,University of Georgia,Public,0.0,0.0,19338.75000,37812.75
367,Stockton University,Public,0.0,0.0,0.00000,30564.75
374,Hennepin Technical College,Public,0.0,0.0,5206.00000,20646.00
377,Minneapolis Community and Technical College,Public,0.0,0.0,5421.50000,23557.75
378,Normandale Community College,Public,0.0,0.0,5818.75000,21569.25
380,North Hennepin Community College,Public,0.0,0.0,4446.50000,19510.50
389,Southeast Technical Institute,Public,0.0,0.0,6194.50000,20497.25
417,Quincy College,Public,0.0,0.0,6355.00000,26480.00
453,Haskell Indian Nations University,Public,0.0,0.0,480.00000,8600.00
518,Clover Park Technical College,Public,0.0,0.0,5771.25000,19473.25
526,Bay Mills Community College,Public,0.0,0.0,3180.00000,15102.00
527,Lake Superior State University,Public,0.0,0.0,11649.00000,24223.50
529,McLennan Community College,Public,0.0,0.0,0.00000,16347.75
557,North Seattle College,Public,0.0,0.0,4301.75000,19418.75
561,Seattle Central College,Public,0.0,0.0,3792.00000,18320.50
564,South Seattle College,Public,0.0,0.0,4450.75000,19060.00
571,Northwest Indian College,Public,0.0,0.0,4530.25000,14112.25
575,Belmont College,Public,0.0,0.0,0.00000,11457.50
579,Bemidji State University,Public,0.0,0.0,8676.75000,20855.25
580,Northwest Technical College,Public,0.0,0.0,5512.50000,18401.00
582,Red Lake Nation College,Public,0.0,0.0,11046.33333,35313.00
591,University of Illinois -Chicago,Public,0.0,0.0,19470.00000,37944.00
592,University of Illinois -Chicago,Public,0.0,0.0,19470.00000,37944.00
593,University of Illinois -Chicago,Public,0.0,0.0,19470.00000,37944.00
642,College of Alameda,Public,0.0,0.0,8550.00000,19961.25
667,Century College,Public,0.0,0.0,5447.50000,19183.50
672,Saint Paul College,Public,0.0,0.0,5578.75000,22554.75
754,Bowling Green State University- Main Campus,Public,0.0,0.0,0.00000,24758.00
755,Bowling Green State University- Main Campus,Public,0.0,0.0,0.00000,24758.00
756,Bowling Green State University- Main Campus,Public,0.0,0.0,0.00000,24758.00
773,Santa Ana College,Public,0.0,0.0,21818.75000,46097.50
828,University of Dallas,Public,0.0,0.0,18062.00000,31702.25
868,University of Indianapolis,Public,0.0,0.0,19338.75000,37812.75
880,Lincoln University,Public,0.0,0.0,0.00000,25382.75
883,West Chester University of Pennsylvania,Public,0.0,0.0,0.00000,26865.50
965,Cankdeska Cikana Community College,Public,0.0,0.0,3300.00000,14075.00
980,Ohio University,Public,0.0,0.0,19338.75000,37812.75
1011,Carolinas College of Health Sciences,Public,0.0,0.0,14631.75000,45266.00
1033,Carver Career Center,Public,0.0,0.0,6061.50000,24604.00
1072,Central Lakes College,Public,0.0,0.0,5495.50000,18984.00
1074,Saginaw Chippewa Tribal College,Public,0.0,0.0,2082.50000,12361.50
1076,Southwestern Indian Polytechnic Institute,Public,0.0,0.0,1095.00000,8721.00
1081,Central Pennsylvania Institute of Science and ...,Public,0.0,0.0,15277.00000,28917.75
1087,Centralia College,Public,0.0,0.0,12232.50000,30418.50
1110,Chesapeake College,Public,0.0,0.0,0.00000,12063.75
1126,Chief Dull Knife College,Public,0.0,0.0,2260.00000,12660.00
1181,Coahoma Community College,Public,0.0,0.0,2853.00000,9598.00
1212,Wayne County Community College District,Public,0.0,0.0,0.00000,12852.00
1218,Lee College,Public,0.0,0.0,0.00000,15607.75
1222,San Antonio College,Public,0.0,0.0,19338.75000,37812.75
1224,University of Houston,Public,0.0,0.0,19338.75000,37812.75
1228,University of Texas -San Antonio,Public,0.0,0.0,19338.75000,37812.75
1229,University of Texas -San Antonio,Public,0.0,0.0,19338.75000,37812.75
1230,University of Texas -San Antonio,Public,0.0,0.0,19338.75000,37812.75
1231,University of Texas -San Antonio,Public,0.0,0.0,19338.75000,37812.75
1232,University of Texas -San Antonio,Public,0.0,0.0,19338.75000,37812.75
1240,College of New Jersey,Public,0.0,0.0,19338.75000,39583.75
1256,Lake Superior College,Public,0.0,0.0,5187.25000,19464.25
1263,University of Nevada -Las Vegas,Public,0.0,0.0,19338.75000,39583.75
1271,College of the Muscogee Nation,Public,0.0,0.0,6600.00000,22005.00
1307,Columbia-Greene Community College,Public,0.0,0.0,0.00000,15907.00
1330,Eastern Michigan University,Public,0.0,0.0,12373.50000,25613.50
1370,Dakota County Technical College,Public,0.0,0.0,5738.00000,19820.00
1371,Inver Hills Community College,Public,0.0,0.0,5358.50000,19874.50
1374,Mitchell Technical Institute,Public,0.0,0.0,6672.00000,16062.00
1397,Delta College,Public,0.0,0.0,0.00000,12397.75
1399,Delta State University,Public,0.0,0.0,7048.50000,19870.50
1411,Dine College,Public,0.0,0.0,1410.00000,12525.00
1473,St Petersburg College,Public,0.0,0.0,2550.75000,18684.75
1491,University of Florida,Public,0.0,0.0,19338.75000,37812.75
1498,Lancaster County Career and Technology Center,Public,0.0,0.0,13671.75000,32267.25
1501,Thaddeus Stevens College of Technology,Public,0.0,0.0,7935.00000,18480.00
1508,Flint Hills Technical College,Public,0.0,0.0,6032.00000,22644.00
1530,Ferris State University,Public,0.0,0.0,11784.00000,23434.75
1553,Florida Polytechnic University,Public,0.0,0.0,4940.00000,21541.00
1558,Fond du Lac Tribal and Community College,Public,0.0,0.0,5323.50000,16651.75
1561,Fort Peck Community College,Public,0.0,0.0,2250.00000,15100.00
1608,Georgia Military College,Public,0.0,0.0,6314.25000,17870.25
1638,South Central College,Public,0.0,0.0,5442.00000,17993.00
1647,University of Virginia,Public,0.0,0.0,19338.75000,39583.75
1720,Institute of American Indian Arts,Public,0.0,0.0,4965.00000,21222.50
1733,Virginia Tech,Public,0.0,0.0,14206.75000,30151.25
1766,Manhattan Area Technical College,Public,0.0,0.0,6277.50000,18835.00
1769,Salina Area Technical College,Public,0.0,0.0,7597.50000,15338.25
1791,Keweenaw Bay Ojibwa Community College,Public,0.0,0.0,3365.00000,13300.25
1801,Northern Illinois University,Public,0.0,0.0,16403.75000,30868.25
1812,Lake Region State College,Public,0.0,0.0,4417.25000,15538.50
1837,Laredo College,Public,0.0,0.0,9575.00000,18369.50
1841,Oakland University,Public,0.0,0.0,0.00000,25513.50
1849,Southern Illinois University -Edwardsville,Public,0.0,0.0,11713.00000,25000.25
1859,Little Big Horn College,Public,0.0,0.0,3200.00000,11635.00
1860,Little Priest Tribal College,Public,0.0,0.0,5177.50000,16632.50
1861,Nebraska Indian Community College,Public,0.0,0.0,4080.00000,25110.25
1900,Marion Technical College,Public,0.0,0.0,0.00000,12846.00
1903,Marshall University,Public,0.0,0.0,0.00000,21632.00
1913,McDowell Technical Community College,Public,0.0,0.0,0.00000,14881.00
1962,Minnesota State College Southeast,Public,0.0,0.0,5633.50000,20687.50
1967,Minot State University,Public,0.0,0.0,7008.50000,18199.00
1971,Mississippi University for Women,Public,0.0,0.0,6786.00000,19680.50
1972,Mississippi Valley State University,Public,0.0,0.0,6413.50000,20015.00
1984,Stone Child College,Public,0.0,0.0,2645.00000,17795.00
1987,Montgomery College,Public,0.0,0.0,0.00000,24818.00
2006,Navajo Technical University,Public,0.0,0.0,4070.00000,15510.00
2012,Neosho County Community College,Public,0.0,0.0,4734.50000,15649.50
2027,North Central Kansas Technical College,Public,0.0,0.0,6064.25000,16916.75
2050,Northern Wyoming Community College District,Public,0.0,0.0,0.00000,14309.50
2052,Northland Community and Technical College,Public,0.0,0.0,5574.25000,17345.50
2057,Northwest Kansas Technical College,Public,0.0,0.0,16600.00000,34139.00
2088,University of Science and Arts of Oklahoma,Public,0.0,0.0,22280.00000,35561.25
2110,Peru State College,Public,0.0,0.0,7516.50000,20014.00
2115,Tohono O'odham Community College,Public,0.0,0.0,932.00000,11932.00
2142,Ridgewater College,Public,0.0,0.0,5708.25000,19115.25
2145,Riverland Community College,Public,0.0,0.0,5594.75000,17174.75
2148,Rochester Community and Technical College,Public,0.0,0.0,5854.25000,22554.25
2149,University of Minnesota -Rochester,Public,0.0,0.0,13220.00000,26129.50
2178,San Juan College,Public,0.0,0.0,0.00000,14946.00
2188,Shasta College,Public,0.0,0.0,12535.00000,22256.00
2201,Sitting Bull College,Public,0.0,0.0,3960.00000,14206.00
2209,Western Dakota Technical Institute,Public,0.0,0.0,7471.00000,22518.00
2214,South Texas College,Public,0.0,0.0,18703.75000,39855.25
2216,Southeast Kentucky Community and Technical Col...,Public,0.0,0.0,0.00000,14983.00
2217,Southeast Kentucky Community and Technical Col...,Public,0.0,0.0,0.00000,14983.00
2228,Southern Crescent Technical College,Public,0.0,0.0,0.00000,17711.50
2236,Southwest Minnesota State University,Public,0.0,0.0,8610.75000,20857.75
2253,Southwestern Oregon Community College,Public,0.0,0.0,6006.75000,16873.25
2281,Temple College,Public,0.0,0.0,9650.00000,17835.00
2308,Troy University,Public,0.0,0.0,0.00000,20211.50
2330,Victoria College,Public,0.0,0.0,17250.00000,30424.00
2339,University of Minnesota -Crookston,Public,0.0,0.0,11863.00000,23793.50
2408,Western Illinois University,Public,0.0,0.0,12939.75000,25856.25
2424,Williston State College,Public,0.0,0.0,5218.00000,18383.50

In [ ]:
df["Average_Tuition","Average_Expense"]