In [1]:
from selenium import webdriver 
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import Chrome
from selenium.webdriver.support.ui import Select
from requests import Session
import pandas as pd
import numpy as np
import time

In [2]:
req = Session()
req.headers.clear() 
path = '/Users/Petelindan/Downloads/chromedriver_win32/chromedriver'
chrome_options = Options()
chrome_options.add_argument(" â€” incognito")
browser = webdriver.Chrome(path, options=chrome_options)
start_url='https://public.flourish.studio/visualisation/3118952/?utm_source=showcase&utm_campaign=visualisation/3118952'
browser.get(start_url)
df = pd.DataFrame(columns = ["Name","Control","State","Plan","2018 Fall Enrollment","Known_Cases_in_County_per_100k_Residents"])

In [3]:
iframeElement = browser.find_element_by_tag_name('iframe')
browser.switch_to.frame(iframeElement)
for page in range(148): 
    try:
        table = browser.find_element_by_id("table")
        contents = table.find_elements_by_xpath("//div[@class= 'tr body-row']")
        for line in contents:
            values = line.find_elements_by_class_name("td")
            name=values[0].text
            control = values[1].text
            state = values[2].text
            plan = values[3].text
            fall_Enrollment_2018 = values[4].text
            case_in_County_per_100k_res = values[5].text
            data = {"Name": name,"Control":control,"State":state,"Plan":plan,"2018 Fall Enrollment":fall_Enrollment_2018,"Known_Cases_in_County_per_100k_Residents":case_in_County_per_100k_res}
            df = df.append(data,ignore_index=True)
        browser.find_element_by_xpath("//button[@class = 'pagination-btn next']").click()
    except:
        pass

In [ ]:
content = browser.find_element_by_id("table")
content = content.find_element_by_xpath("//div[@class= 'tr body-row']")
values = content.find_elements_by_class_name("td")
name=values[0].text
control = values[1].text
state = values[2].text
plan = values[3].text
fall_Enrollment_2018 = values[4].text
case_in_County_per_100k_res = values[5].text
data = {"Name": name,"Control":control,"State":state,"Plan":plan,"2018 Fall Enrollment":fall_Enrollment_2018,"Known_Cases_in_County_per_100k_Residents":case_in_County_per_100k_res}
data
# values[6].text
# for element in content:
#     print(element.text)

In [6]:
df.tail()

,Name,Control,State,Plan,2018 Fall Enrollment,Known_Cases_in_County_per_100k_Residents
2953,York Technical College,Public,SC,Primarily online,"4,253","1,220"
2954,Young Harris College,Private,GA,Primarily in person,"1,425","1,007"
2955,Youngstown State U.,Public,OH,Primarily online,"12,607","1,036"
2956,Yuba College,Public,CA,TBD,"5,934",664
2957,Zane State College,Public,OH,Primarily online,"2,275",207

In [7]:
df.to_csv("CHE.3000.csv")