In [11]:
from selenium import webdriver 
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import Chrome
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup

In [42]:
df_new = pd.DataFrame(columns = ["State","County","Total_Case","%_State_Case",
                                "Case_per_Hundred_Thousand","Total_Death"])
error_name = []
path = '/Users/Petelindan/Downloads/chromedriver_win32/chromedriver'
chrome_options = Options()
chrome_options.add_argument(" â€” incognito")
browser = webdriver.Chrome(path, options=chrome_options)

start_url='https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/county-map.html?state=MT'
browser.get(start_url)
timeout = 10
state_list = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [46]:
len(state_list)

51

In [43]:
for state in state_list:
    url = browser.current_url
    browser.get(url)
    browser.implicitly_wait(10) # seconds
    
    loc = Select(browser.find_element_by_xpath("//select[@id='state-select']"))
    loc.select_by_value(state)
    browser.implicitly_wait(10) # seconds
    
    content = browser.find_element_by_xpath("//table[@id='state-accessibility-table']//tbody")
    content = content.find_elements_by_tag_name("tr")
    for element in content:
        element = element.find_elements_by_tag_name("td")
        county = element[0].text
        total_case = element[1].text
        percent_state_case = element[2].text
        case_per_100000 = element[3].text
        total_death = element[4].text
        county_data = {"State":state,"County":county,"Total_Case":total_case,
                       "%_State_Case":percent_state_case,"Case_per_Hundred_Thousand":case_per_100000,
                       "Total_Death":total_death}
        df_new = df_new.append(county_data,ignore_index=True)

In [44]:
result = df_new.State.unique()
len(result)

51

In [45]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State                      3142 non-null   object
 1   County                     3142 non-null   object
 2   Total_Case                 3142 non-null   object
 3   %_State_Case               3142 non-null   object
 4   Case_per_Hundred_Thousand  3142 non-null   object
 5   Total_Death                3142 non-null   object
dtypes: object(6)
memory usage: 147.4+ KB

In [47]:
df_new.to_csv("covid19(51).csv")

In [48]:
df_new.head()

,State,County,Total_Case,%_State_Case,Case_per_Hundred_Thousand,Total_Death
0,AL,Jefferson,"14,307",13.2%,"2,172",264
1,AL,Mobile,"11,125",10.3%,"2,692",232
2,AL,Montgomery,"7,303",6.7%,"3,224",156
3,AL,Madison,"5,821",5.4%,"1,561",40
4,AL,Tuscaloosa,"4,593",4.2%,"2,194",82